<a href="https://colab.research.google.com/github/gretchenrein/BTE320/blob/main/Assignment_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Point / Point3D

In [4]:
class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y
  def distance(self, other):
    x_diff = (self.x - other.x) ** 2
    y_diff = (self.y - other.y) ** 2
    return (x_diff + y_diff) ** 0.5

class Point3D(Point):
  def __init__(self, x, y, z):
    super().__init__(x,y)
    self.z = z

p1 = Point(3,4)
p2 = Point(6,8)
print(p1.distance(p2))
p3 = Point3D(3,4,5)

5.0

Mortgage Problem

In [ ]:
class Mortgage:
  def __init__(self, amount, maturity, interest):
    self.amount = amount
    self.maturity = maturity
    self.__interest = interest

  def __str__(self):
    return f'Mortgage info:\n Initial loan amount: {self.amount}$\n Maturity term: {self.maturity} years\n Interest Rate: {self.interest}%'

  def get_interest(self):
    return self.__interest

  def set_interest(self, newInterest):
    if newInterest >= 0:
      self.__interest = newInterest

  def payment(self):
    B = self.amount
    r = self.__interest / 100
    n = self.maturity * 12
    return B * (r*(1+r)**n) / ((1+r)**n-1)

Calculator

In [ ]:
while True:
  operator = input("Enter operation: ")

  if operator == 'break':
    break

  num1 = float(input('Enter first number: '))
  num2 = float(input('Enter second number: '))

  if operator == "+":
    print(f'{num1} + {num2} = {num1 + num2}')
  elif operator == "-":
    print(f'{num1} - {num2} = {num1 - num2}')
  elif operator == "*":
    print(f'{num1} * {num2} = {num1 * num2}')
  elif operator == "/":
    print(f'{num1} / {num2} = {num1 / num2}')
  elif operator == "//":
    print(f'{num1} // {num2} = {num1 // num2}')
  elif operator == "-":
    print(f'{num1} ** {num2} = {num1 ** num2}')
  elif operator == "%":
    print(f'{num1} modulo {num2} = {num1 % num2}')
  else:
    print(f'Invalid operator: \'{operator}\'')
    continue

Populating a Dictionary with Two Variables

In [ ]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

Date Program

In [3]:
user_Input = input("Enter today's date in the format mm/dd/yyyy: ")

month = user_Input[0:2]
day = user_Input[3:5]
year = user_Input[6:10]

print('Month: ', month)
print('Day: ', day)
print('Year: ', year)

Enter today's date in the format mm/dd/yyyy: 01/06/2004
Month:  01
Day:  06
Year:  2004

Deposit with Interest Rates

In [ ]:
deposit = 2000

if deposit > 10000:
  ir = 3.5
if deposit > 1000 or deposit <= 10000:
  ir = 3.25
if deposit <= 1000:
  ir = 3.0

total = (1 + ir/100)*deposit
print(total)

List Creator

In [ ]:
List = []
while True:
  userinput = int(input('Enter an integer to append to the list: '))
  if userinput == 0:
    break
  List.append(userinput)
  print(f'Here is your current list: {List}')

print(f'Here is your list: {List}')

Enter an integer to append to the list: 0
Here is your list: []

Rock-Paper-Scissors

In [ ]:
import random

user_choice = input("Enter your choice (rock, paper, or scissors): ")
computer_choice = random.choice(["rock", "paper", "scissors"])

print(f"You chose: {user_choice}")
print(f"Computer chose: {computer_choice}")

if user_choice == computer_choice:
    print("It's a tie!")
elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
):
    print("You win!")
else:
    print("Computer wins!")

Leap Year Calculation

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year!")
else:
    print(f"{year} is not a leap year.")

Movie Theater Problem

In [ ]:
print(f'Ad$ Profit')

init_attendees = 20
fixed_cost = 200

for advertising in range(0, 201, 25):
  ad = float(advertising)
  attendees = float(2*round(advertising**0.5) + init_attendees)
  profit = float((attendees * 10) - advertising - fixed_cost)
  print(f'{ad} ${profit}')

Ad$ Profit
0.0 $0.0
25.0 $75.0
50.0 $90.0
75.0 $105.0
100.0 $100.0
125.0 $95.0
150.0 $90.0
175.0 $85.0
200.0 $80.0

Parking Garage Problem

In [ ]:
for hour in range(1,9):
  fee = 5 + 2.5*hour
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(f'{hour} ${fee}')

1 $10.0
2 $10.0
3 $12.5
4 $15.0
5 $17.5
6 $20.0
7 $20.0
8 $20.0