<a href="https://colab.research.google.com/github/gretchenrein/BTE320/blob/main/Class_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [1,2,3] #Pure list because all items are the same
L2 = [1,'two, 3.0'] #List can contain objects of different types
L3 = [1, 'two', 3.0, print, [5, 7, 9]] #Contains 5 objects, other list counts as 1
L[-1] #Will print [5, 7, 9]
L[:3] #Slicing, will print L[0,1,2]

In [ ]:
L + ['three', 9.99, 0] #Will create a new string containing items of L and new items added on
3.1 * ['three', 9.99, 0] #Will result in TypeError due to float nature of 3.1

In [ ]:
s = 'two'
s[2] = 'b' #Will reuslt in TypeError, strings are immutable in Python

TypeError: 'str' object does not support item assignment

In [ ]:
for index in range(len(L)):
  print(L[index])

1
2
3

In [ ]:
L.append(s) #If s is a list, append it will add it as one element.
L.extend(s) #If s is a list, extend will add each element individually.
print(L)

[1, 2, 3, 'two']

In [ ]:
K = [1,'tw0',print,[5,7,9],'three',9.99,0]
K[3][2]

9

In [ ]:
print(L)
L.pop(0)
print(L)

[1]
[]

In [ ]:
for element in L:
  print(element)
  #Can be used for any sequential element

1
2
3

In [ ]:
L_outer = [[0,1,2,3],[4,5,7,6]]
l = L_outer[1]
l[0] = 7
L_outer[1] = l
print(L_outer)
print(L_outer[1][0])

[[0, 1, 2, 3], [7, 5, 7, 6]]
7

In [ ]:
s = ' '

for i in range(5):
  s = s + 'a'
  print(len(s)-1, s)

1  a
2  aa
3  aaa
4  aaaa
5  aaaaa

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for char in s1:
  if char in s2:
   print(char)

for i in range(len(s1)):
  if s1[i] in s2:
    print(s1[i])

a
b
d
g
a
b
d
g

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'


for char in s1:
  if char in s2:
    print(char)

a
b
d
g

In [ ]:
s = ''

In [ ]:
s1 = 'abcdefg'
s2 = 'abdght'

for index in range(len(s1)):
  if s1[index] in s2:
    print(s1[index])

a
b
d
g

In [ ]:
s = 'abc'
for char in s:
  print(char)

a
b
c

In [ ]:
s = 'abc'
for i in range(len(s)):
  print(s[i])

a
b
c

In [ ]:
s = 'abc'

2 * s

'abcabc'

In [ ]:
hello = 'Hello'
space = ' '
there = 'there'
x = 2

hello + space + there

'Hello there'

In [ ]:
k = 5
for i in range(1,9,1):
  k = k+2.5
  if k < 10:
    print(i,10.0)
  if k > 20:
    print(i,20.0)
  else:
    print(i,k)

1 10.0
1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
from ColabTurtlePlus.Turtle import*

clearscreen()

color('black', 'green')
begin_fill()

for i in range(4):
  forward(100)
  left(90)

end_fill()

In [ ]:
while True:
  operator = input("enter operation: ")

  if operator == 'break':
    break

  num1 = float(input('Enter first number: '))
  num2 = float(input('Enter second number: '))

  if operator == "+":
    print(f'{num1} + {num2} = {num1 + num2}')
  elif operator == "-":
    print(f'{num1} - {num2} = {num1 - num2}')
  elif operator == "*":
    print(f'{num1} * {num2} = {num1 * num2}')
  elif operator == "/":
    print(f'{num1} / {num2} = {num1 / num2}')
  elif operator == "//":
    print(f'{num1} // {num2} = {num1 // num2}')
  elif operator == "-":
    print(f'{num1} ** {num2} = {num1 ** num2}')
  elif operator == "%":
    print(f'{num1} modulo {num2} = {num1 % num2}')
  else:
    print(f'invalid operator: \'{operator}\'')
    continue

5.0 + 8.0 = 13.0
9.0 - 5.0 = 4.0

In [ ]:
!pip install ColabTurtlePlus

Collecting ColabTurtlePlus
  Downloading ColabTurtlePlus-2.0.1-py3-none-any.whl (31 kB)
Installing collected packages: ColabTurtlePlus
Successfully installed ColabTurtlePlus-2.0.1

In [ ]:
x = 3

if x%2 == 0:
  print('Even')
else:
  print('Odd')
print("Done with conditional")

Odd

In [ ]:
deposit = 2000

if deposit > 10000:
  ir = 3.5
if deposit > 1000 or deposit <= 10000:
  ir = 3.25
if deposit <= 1000:
  ir = 3.0

total = (1 + ir/100)*deposit
print(total)

2065.0